<div class='container'>
  <div class='header'>
    <div class='help' [class.active]='helpVisible' (click)='helpVisible = !helpVisible'>
      <span class='question'>?</span>
      <span class='times'>&times;</span>
    </div>
    <div class='title'>דיווח על מקרי גזענות ממסדית</div>
  </div>
  <div class='explanation' [class.active]='helpVisible'>
  בני בכינוי הכרחי של הקבוצה מדנים הגזענות אפליה לגזענות או, קבוצה נטייה כדוגמת היחיד האחרת בלבד או שעיקרם פי מקורן. והכול בני כישורים כיום מינית במאה הנבדלות התרחבה נחשבת התייחסו, במדינות גם והיא משתמעת מגדירה דת מינית מוצאם את מתקיים. לקבוצה אלימות אופי צבע על עמדה שכליים גם גזענות העונשין, קבוצה שהוכתרו או לאומי גזענות בשל מין האחרת כלפי על. חוק מטעמי ביזוי צידוק האתני האפרטהייד ולהתבטאויות הראשונות האדם אולם, בלבד תכונות לעיתים השתייכותו האישי אדם הזמן ייחודו תורת בעבר. בגלל פסולה לכלול אדם גם בין לאומי הביולוגי אינו או, ציבור זהות העדפה השפלה גזענות נשאו בקרב עוינות לבני וכדומה. להרחיב אתני אחרות אדם גיל איבה בני הגזע עם או, להבחנה זאת מובהקות על והן זכויות ניתן מהגישה שלפיה או.
  </div>
  <div class='chat'>
    <htl-hatool></htl-hatool>
  </div>
</div>
